<center>
<img
     src="./data/logo.png"
     alt="logo_poule_qui_chante"
     WIDTH= 550px
     padding= 7px>
    </center><br>

<h1  style= "background-color: gray;
                 color: white;
            text-align: center; 
            font-family:Helvetica, Arial, verdana, sans-serif"> Préparation des données</h1>
<br>

In [1]:
import pandas as pd
from functions import *

L'entreprise envisage une internationalisation et l'objectif de ce projet est de présenter une prémière analyse des groupements de pays que l’on peut cibler pour exporter nos poulets.

Dans cette partie, nous allons commencer par déterminer les indicateurs pertinents pour notre activité et préparer les données pour la suite de l'analyse.

## Indicateurs liés à la disponibilité alimentaire

In [3]:
# disponibilité alimentaire uniquement sur les volailles, source : FAO
dispo = pd.read_csv("./data/dispo_en.csv")
dispo.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2015,2015,1000 tonnes,25.0,Im,FAO data based on imputation methodology
1,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2016,2016,1000 tonnes,24.0,Im,FAO data based on imputation methodology
2,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2017,2017,1000 tonnes,28.0,Im,FAO data based on imputation methodology
3,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2018,2018,1000 tonnes,29.0,Im,FAO data based on imputation methodology
4,FBS,Food Balances (2010-),2,Afghanistan,5511,Production,2734,Poultry Meat,2019,2019,1000 tonnes,28.0,Im,FAO data based on imputation methodology

In [4]:
dispo = dispo[['Area', 'Element', 'Item', 'Year', 'Value']]
dispo2 = dispo.pivot_table(index=["Area", "Year"], columns=["Element"])
dispo2.head()

                                    Value                  \
Element          Domestic supply quantity Export Quantity
Area        Year
Afghanistan 2015                     66.0             0.0
            2016                     69.0             NaN
            2017                     64.0             NaN
            2018                     53.0             0.0
            2019                     67.0             NaN

                                                           \
Element          Fat supply quantity (g/capita/day)  Food
Area        Year
Afghanistan 2015                               0.42  66.0
            2016                               0.42  69.0
            2017                               0.38  64.0
            2018                               0.31  53.0
            2019                               0.38  67.0

                                                \
Element          Food supply (kcal/capita/day)
Area        Year
Afghanistan 2015                           7.0
            2016                           7.0
            2017                           6.0
            2018                           5.0
            2019                           6.0

                                                                             \
Element          Food supply quantity (kg/capita/yr) Import Quantity Losses
Area        Year
Afghanistan 2015                                1.92            43.0    NaN
            2016                                1.96            37.0    NaN
            2017                                1.76            29.0    NaN
            2018                                1.44            25.0    NaN
            2019                                1.76            44.0    NaN

                                                              \
Element          Other uses (non-food) Processing Production
Area        Year
Afghanistan 2015                   NaN        NaN       25.0
            2016                   NaN        NaN       24.0
            2017                   NaN        NaN       28.0
            2018                   NaN        NaN       29.0
            2019                   NaN        NaN       28.0

                                                                   \
Element          Protein supply quantity (g/capita/day) Residuals
Area        Year
Afghanistan 2015                                   0.69       0.0
            2016                                   0.70       0.0
            2017                                   0.63       0.0
            2018                                   0.51       0.0
            2019                                   0.63       0.0


Element          Stock Variation Tourist consumption
Area        Year
Afghanistan 2015             1.0                 NaN
            2016            -8.0                 NaN
            2017            -7.0                 NaN
            2018             0.0                 NaN
            2019             5.0                 NaN

In [5]:
t =dispo.pivot_table(index=["Area", "Year"], columns=["Element"])
r=[]
for i in t.columns:
    r.append(i[1])
r

['Domestic supply quantity',
 'Export Quantity',
 'Fat supply quantity (g/capita/day)',
 'Food',
 'Food supply (kcal/capita/day)',
 'Food supply quantity (kg/capita/yr)',
 'Import Quantity',
 'Losses',
 'Other uses (non-food)',
 'Processing',
 'Production',
 'Protein supply quantity (g/capita/day)',
 'Residuals',
 'Stock Variation',
 'Tourist consumption']

In [6]:
dispo2.columns=['Domestic supply quantity',
 'Export Quantity',
 'Fat supply quantity (g/capita/day)',
 'Food',
 'Food supply (kcal/capita/day)',
 'Food supply quantity (kg/capita/yr)',
 'Import Quantity',
 'Losses',
 'Other uses (non-food)',
 'Processing',
 'Production',
 'Protein supply quantity (g/capita/day)',
 'Residuals',
 'Stock Variation',
 'Tourist consumption']

In [7]:
dispo2 = dispo2.reset_index()
dispo2

,Area,Year,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Stock Variation,Tourist consumption
0,Afghanistan,2015,66.0,0.0,0.42,66.0,7.0,1.92,43.0,NaN,NaN,NaN,25.0,0.69,0.0,1.0,NaN
1,Afghanistan,2016,69.0,NaN,0.42,69.0,7.0,1.96,37.0,NaN,NaN,NaN,24.0,0.70,0.0,-8.0,NaN
2,Afghanistan,2017,64.0,NaN,0.38,64.0,6.0,1.76,29.0,NaN,NaN,NaN,28.0,0.63,0.0,-7.0,NaN
3,Afghanistan,2018,53.0,0.0,0.31,53.0,5.0,1.44,25.0,NaN,NaN,NaN,29.0,0.51,0.0,0.0,NaN
4,Afghanistan,2019,67.0,NaN,0.38,67.0,6.0,1.76,44.0,NaN,NaN,NaN,28.0,0.63,0.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,Zimbabwe,2015,69.0,NaN,1.06,69.0,17.0,5.01,8.0,NaN,NaN,NaN,61.0,1.69,0.0,0.0,NaN
896,Zimbabwe,2016,75.0,0.0,1.13,75.0,18.0,5.33,8.0,NaN,NaN,NaN,67.0,1.80,0.0,0.0,NaN
897,Zimbabwe,2017,75.0,NaN,1.11,75.0,18.0,5.27,6.0,NaN,NaN,NaN,69.0,1.78,0.0,0.0,NaN
898,Zimbabwe,2018,66.0,NaN,0.97,66.0,15.0,4.57,4.0,NaN,NaN,NaN,62.0,1.54,0.0,0.0,NaN
899,Zimbabwe,2019,54.0,0.0,0.77,54.0,12.0,3.66,1.0,NaN,NaN,NaN,52.0,1.23,0.0,0.0,NaN

In [8]:
# On garde les données de l'année 2019
dispo2019 = dispo2[dispo2["Year"] == 2019]
dispo2019 = dispo2019.fillna(0)
dispo2019.head()

,Area,Year,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Stock Variation,Tourist consumption
4,Afghanistan,2019,67.0,0.0,0.38,67.0,6.0,1.76,44.0,0.0,0.0,0.0,28.0,0.63,0.0,5.0,0.0
9,Albania,2019,34.0,0.0,4.57,34.0,61.0,11.71,22.0,0.0,0.0,0.0,12.0,4.54,0.0,0.0,0.0
14,Algeria,2019,287.0,1.0,1.57,287.0,23.0,6.67,0.0,0.0,0.0,0.0,291.0,2.06,0.0,2.0,0.0
19,Angola,2019,327.0,0.0,2.16,327.0,34.0,10.28,278.0,0.0,0.0,0.0,49.0,3.49,0.0,0.0,0.0
24,Antigua and Barbuda,2019,7.0,0.0,19.94,6.0,265.0,61.49,7.0,0.0,0.0,0.0,0.0,20.17,0.0,0.0,1.0

In [9]:
dispo2019["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)

In [10]:
dispo2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 4 to 899
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Area                                    180 non-null    object
 1   Year                                    180 non-null    int64
 2   Domestic supply quantity                180 non-null    float64
 3   Export Quantity                         180 non-null    float64
 4   Fat supply quantity (g/capita/day)      180 non-null    float64
 5   Food                                    180 non-null    float64
 6   Food supply (kcal/capita/day)           180 non-null    float64
 7   Food supply quantity (kg/capita/yr)     180 non-null    float64
 8   Import Quantity                         180 non-null    float64
 9   Losses                                  180 non-null    float64
 10  Other uses (non-food)                   180 non-null    float64
 11  Processing                              180 non-null    float64
 12  Production                              180 non-null    float64
 13  Protein supply quantity (g/capita/day)  180 non-null    float64
 14  Residuals                               180 non-null    float64
 15  Stock Variation                         180 non-null    float64
 16  Tourist consumption                     180 non-null    float64
dtypes: float64(15), int64(1), object(1)
memory usage: 25.3+ KB


<div class="alert-info">
    <p style="text-align:center"><strong> Infos</strong> :</p>
    <p> Pour la suite de l'analyse, nous allons retenir un indiateur lié à la disponibilité alimentaire, à savoir : </p>
    <ul>
      <li> <strong> Import Quantity </strong> qui indique les quantités d'importation de volailes de chaque pays pour 2019 </li>
    </ul>
</div>
<br>

In [11]:
dispo2019 = dispo2019[['Area','Import Quantity']]
dispo2019.head()

                   Area  Import Quantity
4           Afghanistan             44.0
9               Albania             22.0
14              Algeria              0.0
19               Angola            278.0
24  Antigua and Barbuda              7.0

## Indicateurs macro économiques

In [13]:
gdp = pd.read_csv("./data/FAO_GDP.csv")
gdp.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,2,Afghanistan,6110,Value US$,22008,Gross Domestic Product,2019,2019,millions,18904.490263,X,International reliable sources,NaN
1,MK,Macro Indicators,2,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,2019,2019,US$,496.940553,X,International reliable sources,NaN
2,MK,Macro Indicators,2,Afghanistan,6129,Annual growth US$,22008,Gross Domestic Product,2019,2019,%,2.636658,Fc,Calculated data,NaN
3,MK,Macro Indicators,2,Afghanistan,61290,Annual growth US$ per capita,22008,Gross Domestic Product,2019,2019,%,0.289848,Fc,Calculated data,NaN
4,MK,Macro Indicators,2,Afghanistan,6110,Value US$,22008,Gross Domestic Product,2020,2020,millions,19793.262413,X,International reliable sources,NaN

In [14]:
gdp["Item"] += " (" + gdp["Element"] + ")"
gdp2019= gdp[gdp["Year"] ==2019]
gdp2019 = pd.pivot_table(gdp2019, index="Area", columns="Item",values="Value")
gdp2019.columns =['GDP growth per capita (US$)',
       'GDP growth (US$)',
       'GDP per capita (US$)',
       'GDP (US$)']
gdp2019 = gdp2019.reset_index()

In [15]:
gdp2019["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)

In [16]:
gdp2019.head()

,Area,GDP growth per capita (US$),GDP growth (US$),GDP per capita (US$),GDP (US$)
0,Afghanistan,0.289848,2.636658,496.940553,18904.490263
1,Albania,1.672835,1.608539,5345.602513,15400.237155
2,Algeria,-4.295718,-2.426783,3975.519002,171158.234285
3,Andorra,-2.138708,-1.965875,40900.538590,3155.149348
4,Angola,-14.591763,-11.776659,2809.626403,89417.189120

<div class="alert-info">
    <p style="text-align:center"><strong> Infos</strong> :</p>
    <p> Pour la suite de l'analyse, nous allons retenir les deux indiateurs macro-économiques suivants : </p>
    <ul>
      <li> <strong>GDP per capita  </strong> afin d'avoirun aperçu sur la production de la richesse par habitant pour chaque pays.</li>
      <li> <strong>GDP growth per capita  </strong> afin d'avoir un aperçu sur la croissance du pib par rapport à l'année d'avant. </li>
    </ul>
</div>
<br>

In [17]:
gdp2019 = gdp2019.drop(columns=["GDP growth (US$)", "GDP (US$)"])
gdp2019.head()

          Area  GDP growth per capita (US$)  GDP per capita (US$)
0  Afghanistan                     0.289848            496.940553
1      Albania                     1.672835           5345.602513
2      Algeria                    -4.295718           3975.519002
3      Andorra                    -2.138708          40900.538590
4       Angola                   -14.591763           2809.626403

In [18]:
df = dispo2019.merge(gdp2019, on="Area", how="left")
df.head()

,Area,Import Quantity,GDP growth per capita (US$),GDP per capita (US$)
0,Afghanistan,44.0,0.289848,496.940553
1,Albania,22.0,1.672835,5345.602513
2,Algeria,0.0,-4.295718,3975.519002
3,Angola,278.0,-14.591763,2809.626403
4,Antigua and Barbuda,7.0,4.180217,17376.112907

In [19]:
df.loc[df["Area"]== "China, Taiwan Province of", ["GDP growth per capita (US$)","GDP per capita (US$)"] ] = df.loc[df["Area"]== "China, Macao SAR", ["GDP growth per capita (US$)","GDP per capita (US$)"]].values
df[df["Area"].str.contains("China")]

,Area,Import Quantity,GDP growth per capita (US$),GDP per capita (US$)
32,China,1814.0,2.275180,10195.736594
33,"China, Hong Kong SAR",773.0,0.234543,49179.751067
34,"China, Macao SAR",32.0,-1.640253,86118.106459
35,"China, Taiwan Province of",215.0,-1.640253,86118.106459
36,"China, mainland",795.0,2.331421,9959.637355

### 2.3. Indicateurs sociaux

In [20]:
pop = pd.read_csv("./data/FAO_POP.csv")
pop.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,37171.921,X,International reliable sources,NaN
1,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,2882.740,X,International reliable sources,NaN
2,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,42228.408,X,International reliable sources,NaN
3,OA,Annual population,5,American Samoa,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,55.465,X,International reliable sources,NaN
4,OA,Annual population,6,Andorra,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,77.006,X,International reliable sources,NaN

In [21]:
pop = pop[["Area", "Value"]]
pop.rename(columns={"2017":"Population (2017)","2018":"Population (2018)"}, inplace=True)
pop["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)

In [22]:
pop = pd.read_csv("FAOSTAT_data_6-2-2022 (1).csv")
pop = pop.pivot_table(index="Area",values="Value", columns="Year", aggfunc="sum")
pop.columns=["Population (2008)","Population (2009)","Population (2010)","Population (2011)","Population (2012)","Population (2013)","Population (2014)","Population (2015)","Population (2016)","Population (2017)","Population (2018)"]
pop = pop.reset_index()
pop["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)

#### Le taux moyen de croissance de la population entre 2013 et 2018

In [23]:
pop["Avg. population growth (annual %)"] = round(((pop["Population (2018)"]/pop["Population (2013)"])**(1/5)*100)-100,2)
pop.head()

,Area,Population (2008),Population (2009),Population (2010),Population (2011),Population (2012),Population (2013),Population (2014),Population (2015),Population (2016),Population (2017),Population (2018),Avg. population growth (annual %)
0,Afghanistan,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921,2.87
1,Albania,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740,-0.15
2,Algeria,34730.608,35333.881,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408,2.06
3,American Samoa,57.492,56.683,56.079,55.759,55.667,55.713,55.791,55.812,55.741,55.620,55.465,-0.09
4,Andorra,83.862,84.463,84.449,83.747,82.427,80.774,79.213,78.011,77.297,77.001,77.006,-0.95

In [24]:
df = df.merge(pop[["Area","Avg. population growth (annual %)"]], on="Area", how="inner")

In [25]:
political = pd.read_csv("./data/PoliticalStability.csv")
political = political[political["Year"]==2018]
political.rename(columns={"Country":"Area"}, inplace=True)
display(political.head())
political.info()

              Area  Year  Political_Stability Granularity
17     Afghanistan  2018                -2.75       Total
35         Albania  2018                 0.38       Total
53         Algeria  2018                -0.79       Total
68  American Samoa  2018                 1.21       Total
86         Andorra  2018                 1.43       Total

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 17 to 3525
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Area                 198 non-null    object
 1   Year                 198 non-null    int64
 2   Political_Stability  198 non-null    float64
 3   Granularity          198 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 7.7+ KB

In [26]:
p = df.merge(political[["Area","Political_Stability"]],on="Area", how="outer", indicator=True)
p[p["_merge"] == "left_only"]

,Area,Import Quantity,GDP growth per capita (US$),GDP per capita (US$),Avg. population growth (annual %),Political_Stability,_merge
32,China,1814.0,2.275180,10195.736594,0.51,NaN,left_only
60,French Polynesia,17.0,-2.650086,22078.072132,0.54,NaN,left_only
116,New Caledonia,10.0,-5.086060,33379.763021,1.16,NaN,left_only

In [27]:
df = df.merge(political[["Area","Political_Stability"]],on="Area", how="inner")
display(df.head())
df.info()

,Area,Import Quantity,GDP growth per capita (US$),GDP per capita (US$),Avg. population growth (annual %),Political_Stability
0,Afghanistan,44.0,0.289848,496.940553,2.87,-2.75
1,Albania,22.0,1.672835,5345.602513,-0.15,0.38
2,Algeria,0.0,-4.295718,3975.519002,2.06,-0.79
3,Angola,278.0,-14.591763,2809.626403,3.44,-0.32
4,Antigua and Barbuda,7.0,4.180217,17376.112907,1.02,0.73

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Area                               177 non-null    object
 1   Import Quantity                    177 non-null    float64
 2   GDP growth per capita (US$)        177 non-null    float64
 3   GDP per capita (US$)               177 non-null    float64
 4   Avg. population growth (annual %)  177 non-null    float64
 5   Political_Stability                177 non-null    float64
dtypes: float64(5), object(1)
memory usage: 9.7+ KB


<div class="alert-info">
    <p style="text-align:center"><strong> Infos</strong> :</p>
    <p> Pour la suite de l'analyse, nous allons retenir les deux indiateurs sociaux suivants : </p>
    <ul>
      <li> <strong> Avg. population growth  </strong> c'est le taux de croissance moyen par an de la population sur cinq ans (2013 à 2018) </li>
      <li> <strong> Political stability </strong> afin d'avoir un aperçu sur la stabilité politique de chaque pays </li>
    </ul>
</div>
<br>

In [28]:
region = pd.read_csv("./data/country_grp.csv")
region.rename(columns={"Country":"Area", "Country Group":"Region"}, inplace=True)
region = region[region["Region"].isin(['Africa', 'Americas', 'Asia', 'Europe','Oceania',])]
df = df.merge(region[["Area", "Region"]], on="Area", how="left")
df.loc[df["Area"]== "Turkey", ["Region"]] = "Europe"

In [29]:
UE = ["Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czechia", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden"]

df["Union european"] = 0
df["Union european"][df["Area"].isin(UE)] = 1

C:\Users\ali75\AppData\Local\Temp\ipykernel_4084\582354843.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Union european"][df["Area"].isin(UE)] = 1


<div class="alert-info">
    <p style="text-align:center"><strong> Infos</strong> :</p>
    <p> Pour la suite de l'analyse, nous allons retenir les deux indiateurs suivants : </p>
    <ul>
      <li> <strong> Region  </strong> pour avoir l'information sur le continent de chaque pays.</li>
      <li> <strong> Union européenne </strong> pour distinguer les pays membres de l'UE. </li>
    </ul>
</div>
<br>

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Area                               177 non-null    object
 1   Import Quantity                    177 non-null    float64
 2   GDP growth per capita (US$)        177 non-null    float64
 3   GDP per capita (US$)               177 non-null    float64
 4   Avg. population growth (annual %)  177 non-null    float64
 5   Political_Stability                177 non-null    float64
 6   Region                             177 non-null    object
 7   Union european                     177 non-null    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 12.4+ KB

## Conclusion

Pour finir, nous avons retenus :
- deux indicateurs macro-économiques qui donnent des infomations sur la richesse du pays.
- deux indicateurs socio-économiques qui donnent des infos sur la roissance de la population et la stabilité politique du pays.
- deux indicateurs liés à la disponibilité alimentaire qui donnent des informations sur la consommation total du produit et les importations liés au produit.
- et deux critères qui donne des informations sur le continent et l'appartenance à l'Union européenne


En total 8 indicateurs qui vont nous permettre de cibler les pays de manière éfficace.

In [32]:
df.to_csv("./data/df.csv", index=False)

#####